body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    line-height: 1.6;
    color: #333;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

/*container*/
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/*intro*/
.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: url("../images/intro.jpg") center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.intro_title {
    color: #131313;
    font-size: 130px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
}

.intro_title:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 60px auto;
    background-color: #131313;
}

.intro_inner {
    width: 100%;
    max-width: 880px;
    margin: 0 auto;
    text-align: center;
}

.intro_subtitle {
    margin-bottom: 20px;
    font-size: 62px;
    color: #131313;
    font-family: 'Kaushan Script', cursive;
    text-align: center;

}

/*Header*/
.header {
    padding-top: 30px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_logo {
    font-size: 25px;
    font-weight: 700;
    color: #131313;
}

/*Nav*/
.nav {
    font-size: 12px;
    text-transform: uppercase;
}

.nav_link {
    display: inline-block;
    vertical-align: top;
    margin: 0 15px;
    position: relative;

    color: #131313;
    text-decoration: none;
    transition: color .1s linear;
}

.nav_link:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    opacity: 0;

    background-color: #10c9c3;
    position: absolute;

    transition: opacity .1s linear;
}

.nav_link:hover {
    color: #10c9c3;
}

.nav_link:hover:after {
    opacity: 1;
}

/*Button*/
.btn {
    display: inline-block;
    vertical-align: top;
    padding: 12px 20px;
    border: 3px solid #10c9c3;
    background-color: #10c9c3;

    font-size: 12px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;

    transition: background .1s linear, color .1s linear;
}

.btn:hover {
    border: 3px solid #10c9c3;
    background-color: #e9e9e9;
    color: #10c9c3;
}

/*Section*/
.section {
    padding: 100px 0;
}

.section-gray {
    background-color: #f8f8f8;
}

.section_header {
    width: 100%;
    max-width: 950px;
    margin: 0 auto 40px;
    text-align: center;
}

.section_subtitle {
    font-family: 'Kaushan Script', cursive;
    font-size: 24px;
    color: #131313;
}

.section_title {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    color: #131313;
}

.section_title:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 30px auto 30px;
    background-color: #333333;
}

.section_text {
    color: #999;
    font-size: 15px;
}

/*About*/
.about {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
}

.about_item {
    background-color: #e9e9e9;
    width: 380px;
    position: relative;
}

.about_item:hover .about_img {
    transform: translate3d(-10px, -10px, 0);
}

.about_item:hover .about_img img {
    opacity: .7;
}

.about_item:hover .about_text {
    opacity: 1;
}

.about_img {
    background: #999999;
    transition: transform .2s linear;
}

.about_img img {
    display: block;
    transition: opacity .1s linear;
}

.about_text {
    width: 100%;
    font-size: 18px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    opacity: 0;
    position: absolute;
    top: 50%;
    z-index: 2;
    transform: translate3d(0, -50%, 0);
    transition: opacity .2s linear;
}

/*Statistics*/

.statistics {
    background-color: #10c9c3;
}

.stat {
    display: flex;
}

.stat_item {
    flex: 1 1 0;
    padding: 70px 25px;

    border-left: 1px solid #b5eae0;

    text-align: center;
    color: #fff;
}

.stat_item:last-child {
    border-right: 1px solid #b5eae0;
}

.stat_count {
    margin-bottom: 10px;
    font-size: 72px;
    font-weight: 700;
    line-height: 1;
}

.stat_text {
    font-size: 14px;
    text-transform: uppercase;
}

/*We do*/

.wedo {
    display: flex;
}

.wedo_item {
    width: 50%;
}

.wedo_photo {
    border: 2px solid #e9e9e9;
}

/*Accordion*/

.accordion_item {
    border: 1px solid #e5e5e5;
    margin-bottom: 10px;
}

.accordion_item.active
.accordion_content {
    display: block;
}

.accordion_item.active
.accordion_header {
    border-bottom-color: #e5e5e5;
}

.accordion_item.active
.accordion_header:after {
    transform: translateY(-50%) rotate(-45deg);
    margin-top: 5px;
}

.accordion_header {
    padding: 15px 15px;
    border-bottom: 1px solid transparent;
    position: relative;
    cursor: pointer;
}

.accordion_header:after {
    content: "";
    display: block;
    width: 16px;
    height: 16px;

    border-top: 2px solid #ccc;
    border-right: 2px solid #ccc;

    position: absolute;
    top: 50%;
    right: 20px;
    z-index: 1;

    transform: translateY(-50%) rotate(135deg);
}

.accordion_content {
    padding: 15px 20px;
    display: none;

    font-size: 15px;
    color: #999;
    font-style: italic;
    font-weight: 300;
}

.accordion_title {
    font-size: 14px;
    color: #333;
    text-transform: uppercase;
}

/*Reviews*/

.reviews {
    padding: 0 110px;
    position: relative;
}

.reviews_item {
    padding-left: 205px;
    position: relative;
}

.reviews_photo {
    border: 2px solid #10c9c3;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.reviews_text {
    margin-bottom: 15px;
    font-size: 24px;
    font-style: italic;
    font-weight: 300;
    color: #999;
}

.reviews_author {
    font-size: 24px;
    color: #333;
    font-family: 'Kaushan Script', cursive;
}

.reviews_author:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 60px;
    height: 3px;
    margin-right: 20px;

    background-color: #10c9c3;
}

.reviews_btn {
    font-size: 0;
    color: transparent;

    position: absolute;
    top: 50%;
    z-index: 1;
    transform: translateY(-50%);
}

.reviews_btn:after {
    content: "";
    display: block;
    width: 16px;
    height: 16px;

    border-top: 2px solid #ccc;
    border-left: 2px solid #ccc;
}

.reviews_btn_prev {
    left: 0;
    transform: rotate(-45deg);
}

.reviews_btn_next {
    right: 0;
    transform: rotate(135deg);
}

/*Portfolio*/
.portfolio {
    display: grid;
    grid-template-columns: 380px 380px 380px;
    grid-template-rows: auto;
    justify-content: space-between;
}

.portfolio_item {
    background-color: #e9e9e9;
    width: 380px;
    position: relative;
}

.portfolio_item:hover .portfolio_img img {
    opacity: 1;
}

.portfolio_img {
    background: #999999;
    transition: transform .2s linear;
}

.portfolio_img img {
    display: block;
    transition: opacity .1s linear;
    opacity: .6;
}

.portfolio_btn {
    margin: 60px;
    display: inline-block;
    vertical-align: top;
    padding: 12px 20px;
    border: 3px solid #10c9c3;
    background-color: #10c9c3;
    font-size: 12px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    transition: background .1s linear, color .1s linear;
}

.portfolio_btn:hover {
    border: 3px solid #10c9c3;
    background-color: #ffffff;
    color: #10c9c3;
}

















