body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    line-height: 1.6;
    color: #333;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

/*container*/
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/*intro*/
.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: url("../images/intro.jpg") center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.intro_title {
    color: #131313;
    font-size: 130px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
}

.intro_title:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 60px auto;
    background-color: #131313;
}

.intro_inner {
    width: 100%;
    max-width: 880px;
    margin: 0 auto;
    text-align: center;
}

.intro_subtitle {
    margin-bottom: 20px;
    font-size: 62px;
    color: #131313;
    font-family: 'Kaushan Script', cursive;
    text-align: center;

}

/*Header*/

.header {
    padding-top: 30px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_logo {
    font-size: 25px;
    font-weight: 700;
    color: #131313;
}

/*Nav*/

.nav {
    font-size: 12px;
    text-transform: uppercase;
}

.nav_link {
    display: inline-block;
    vertical-align: top;
    margin: 0 15px;
    position: relative;

    color: #131313;
    text-decoration: none;
    transition: color .1s linear;
}

.nav_link:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    opacity: 0;

    background-color: #10c9c3;
    position: absolute;

    transition: opacity .1s linear;
}

.nav_link:hover {
    color: #10c9c3;
}

.nav_link:hover:after {
    opacity: 1;
}

/*Button*/

.btn {
    display: inline-block;
    vertical-align: top;
    padding: 12px 20px;
    border: 3px solid #10c9c3;
    background-color: #10c9c3;

    font-size: 12px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;

    transition: background .1s linear, color .1s linear;
}

.btn:hover {
    border: 3px solid #10c9c3;
    background-color: #e9e9e9;
    color: #10c9c3;
}